/* เพิ่ม CSS เพื่อลบกรอบของ Modal */
.modal-transparent .modal-content {
    border: none;
    box-shadow: none;
  }
  
  .modal-transparent .modal-dialog {
    margin: 0; /* สำหรับการจัดขอบ */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modal-transparent .modal-body {
    padding: 0; /* ลบการเพิ่มพื้นที่ของ Body */
  }
  